<%- include("includes/head", { pageTitle: "An Error Occured!"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Couldn't Find the Resources You Are Looking For!</h1>
    <p>Unfortunately, The Page Can't be Found! - please check your URL!</p>
    <p><a href="/" class="btn">Back to Safety!</a></p>
    <p> Note: You came here from: <a href="" id="ref" class="btn btn-alt">This Link!</a></p>
  </main>
<%- include("includes/footer") %>
