<footer class="text-block">
  <p class="copy" id="date"></p>
  <p class="copy">It took <a href="#" id="loadtime"></a>ms.</p>
  <p class="copy">
    &copy; Copyright
    <span id="copy"></span>
    ,
    <a href="https://github.com/TenTraicion"> TenTraicion</a>
  </p>
</footer>
</body>
</html>