<%- include('../../shared/includes/head', { pageTitle: 'Failed!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Failed!</h1>
    <p>Please Contact the Shop Owner for more Details!
    <a href="mailto:admin@platinamo.com" target="_blank" class="btn btn-alt">Email Me!</a></p>
  </main>
<%- include('../../shared/includes/footer') %>