<p>The Page has been Loaded within <span id="loadtime"></span>s,  Executing Time: <span id="date"></span>, Copyright - <span id="copy"></span> - <a href="http://platinamo.com" target="_blank" rel="noopener noreferrer">Platinamo</a></p>
<p style="display: none;">Referrer: <a href="" id="ref">Back</a></p>
</body>
</html>