<footer>
  <div id="ft">
    <p class="ft">The Page has been Loaded within: <span id="loadtime"></span></p>
    <p class="ft">Executing Time: <span id="date"></span></p>
    <p class="ft">This Website is served from: <span id="tz"></span></p>
    <p class="ft">Copyright - <span id="copy"></span> - <a href="http://platinamo.com" target="_blank" rel="noopener noreferrer">Platinamo</a></p>
    <p style="display: none;">Referrer: <a href="" id="ref" class="btn btn-alt">Back</a></p>
    <p class="ft">made with 💖 by <a href="https://github.com/TenTraicion">TenTraicion</a></p>
  </div>
</footer>
</body>
</html>