<%- include("../../base/includes/head", { pageTitle: "All Products"}) %>
</head>
<body>
  <%- include("../../base/includes/header") %>
  <main>
    <h1>All Products</h1>
    <p>A List of Products</p>
  </main>
<%- include("../../base/includes/footer") %>
